[package]
name = "lelwel"
version = "0.4.2"
description = "LL(1) parser generator"
repository = "https://github.com/0x2a-42/lelwel"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"
keywords = ["parser", "generator", "LL", "grammar"]
categories = ["parsing"]
exclude = ["build.rs"]

[dependencies]
bumpalo = { version = "3.9.1", features = ["collections", "boxed"] }
clap = { version = "3.1.0", features = ["cargo"], optional = true }
atty = { version = "0.2.14", optional = true }
lsp-server = { version = "0.5.2", optional = true }
lsp-types = { version = "0.91.1", optional = true }
serde = { version = "1.0.133", optional = true }
serde_json = { version = "1.0.74", optional = true }

[features]
cli = ["clap", "atty"]
lsp = ["lsp-server", "lsp-types", "serde", "serde_json"]

[[bin]]
name = "llw"
required-features = ["cli"]

[[bin]]
name = "lelwel-ls"
required-features = ["lsp"]
